[submodule "library-sample-data"]
	path = library-sample-data
	url = https://github.com/Developer-Autodesk/library-sample-autocad.io.git
[submodule "library-dotnet-autocad.io"]
	path = library-dotnet-autocad.io
	url = https://github.com/Developer-Autodesk/library-dotnet-autocad.io
[submodule "workflow-winform-autocad.io"]
	path = workflow-winform-autocad.io
	url = https://github.com/Developer-Autodesk/workflow-winform-autocad.io
[submodule "workflow-windowsservice-autocad.io"]
	path = workflow-windowsservice-autocad.io
	url = https://github.com/Developer-Autodesk/workflow-windowsservice-autocad.io
[submodule "workflow-aspdotnet-autocad.io"]
	path = workflow-aspdotnet-autocad.io
	url = https://github.com/Developer-Autodesk/workflow-aspdotnet-autocad.io
[submodule "acadio-py"]
	path = acadio-py
	url = https://github.com/Developer-Autodesk/acadio-py
[submodule "autocad.io-simplest-CSharp"]
	path = autocad.io-simplest-CSharp
	url = https://github.com/Developer-Autodesk/autocad.io-simplest-CSharp
[submodule "autocad.io-input-output-variations"]
	path = autocad.io-input-output-variations
	url = https://github.com/Developer-Autodesk/autocad.io-input-output-variations
[submodule "autocad.io-custom-activity-apppackage-CSharp"]
	path = autocad.io-custom-activity-apppackage-CSharp
	url = https://github.com/Developer-Autodesk/autocad.io-custom-activity-apppackage-CSharp
[submodule "autocad.io-simplest-java"]
	path = autocad.io-simplest-java
	url = https://github.com/Developer-Autodesk/autocad.io-simplest-java
[submodule "autocad.io-simplest-java-using-odatalib"]
	path = autocad.io-simplest-java-using-odatalib
	url = https://github.com/Developer-Autodesk/autocad.io-simplest-java-using-odatalib
[submodule "autocad.io-custom-activity-apppackage-java"]
	path = autocad.io-custom-activity-apppackage-java
	url = https://github.com/Developer-Autodesk/autocad.io-custom-activity-apppackage-java
[submodule "autocad.io-AppPackage-dll-cpp"]
	path = autocad.io-AppPackage-dll-cpp
	url = https://github.com/Developer-Autodesk/autocad.io-AppPackage-dll-cpp
